<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col-lg">
          <img class="mb-2 mx-auto d-block" src="/images/patch_tiger.png" alt="" width="100" height="100">
          {{ .Site.Params.footer1 | safeHTML }}
      </div>
      <div class="col-lg">
        <h5>{{ .Site.Params.footer2 | safeHTML }}</h5>
        <ul class="list-unstyled text-small">
          {{ range .Site.Menus.footer2 -}}
            <li class="link-secondary"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
      <div class="col-lg">
        <h5>{{ .Site.Params.footer3 | safeHTML }}</h5>
        <ul class="list-unstyled text-small">
          {{ range .Site.Menus.footer3 -}}
            <li class="link-secondary"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
      <div class="col-lg">
        <h5>{{ .Site.Params.footer4 | safeHTML }}</h5>
        <a href="https://discord.gg/52B4WasJfZ"><img class="rounded text-start" src="/images/Tigre_Discord.svg" alt="" width="60" height="60"></a>
        <a href="https://www.twitch.tv/coubystark"><img class="rounded text-start" src="/images/Tigre_Twitch.svg" alt="" width="60" height="60"></a>
        <a href="https://github.com/Cellules-Rapaces"><img class="rounded text-start" src="/images/Tigre_Github.svg" alt="" width="55" height="55"></a>
        <p class="text-end mb-1">
          <a href="#">{{ .Site.Params.footer5 | safeHTML }}</a>
        </p>
      </div>
    </div>
  </div>
</footer>
