
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coubystark-air' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ajs37-h:before {
  content: "\e900";
}
.icon-av8b-h:before {
  content: "\e901";
}
.icon-c101-h:before {
  content: "\e902";
}
.icon-Cellules_Rapaces_NG:before {
  content: "\e903";
}
.icon-f-5-h:before {
  content: "\e904";
}
.icon-f-14-h:before {
  content: "\e905";
}
.icon-f-14-v:before {
  content: "\e906";
}
.icon-f-15-h:before {
  content: "\e907";
}
.icon-f-16-h:before {
  content: "\e908";
}
.icon-f-16-v:before {
  content: "\e909";
}
.icon-f-18-h:before {
  content: "\e90a";
}
.icon-f-18-v:before {
  content: "\e90b";
}
.icon-f-86-h:before {
  content: "\e90c";
}
.icon-jf-17-h:before {
  content: "\e90d";
}
.icon-jf-17-v:before {
  content: "\e90e";
}
.icon-kc-135-h:before {
  content: "\e90f";
}
.icon-kc-135-v:before {
  content: "\e910";
}
.icon-l39-h:before {
  content: "\e911";
}
.icon-M2000-h:before {
  content: "\e912";
}
.icon-M2000-v:before {
  content: "\e913";
}
.icon-mf1-h:before {
  content: "\e914";
}
.icon-mig15-h:before {
  content: "\e915";
}
.icon-mig19-h:before {
  content: "\e916";
}
.icon-mig21-h:before {
  content: "\e917";
}
.icon-mig29-h:before {
  content: "\e918";
}
.icon-rafale-h:before {
  content: "\e919";
}
.icon-rafale-v:before {
  content: "\e91a";
}
.icon-su27-h:before {
  content: "\e91b";
}
.icon-su33-h:before {
  content: "\e91c";
}
